@charset "UTF-8";
/* font */
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
/* all */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* nav */
.header {
  background-color: #1E1F29;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header2 {
  background-color: #15161D;
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* 購物車 */
}
.navigation a {
  padding: 15px;
  color: white;
}
.navigation .menu-info {
  display: flex;
  padding: 10px;
  /* test */
  /* border: 1px white solid; */
}
.navigation .nav-logo {
  height: 100px;
  align-self: center;
  padding: 10px 0px 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation .nav-logo a {
  /* padding: 20px 0px 20px 10px; */
  font-size: 60px;
}
.navigation .nav-search {
  align-self: center;
  /* padding-top: 30px; */
  /* margin: 0; */
  /* width: 555px; */
}
.navigation .nav-search select {
  height: 40px;
  padding: 0px 15px;
  border-radius: 40px 0px 0px 40px;
  border: 1px solid #E4E7ED;
  margin-right: -4px;
  margin-top: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation .nav-search input {
  height: 40px;
  width: 350px;
  padding: 0 15px;
  border: none;
  font-weight: 700;
}
.navigation .nav-search .search-btn {
  height: 40px;
  width: 100px;
  padding: 0px 15px;
  border-radius: 0px 40px 40px 0px;
  border: 1px solid #D10024;
  color: #FFF;
  font-weight: 700;
  margin-left: -4px;
  background-color: #D10024;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation .menu-info-bot {
  display: flex;
  align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation .menu-info-bot li {
  padding: 0 15px;
  text-align: center;
}
.navigation .menu-info-bot li a {
  display: block;
  width: 90px;
  position: relative;
}
.navigation .menu-info-bot li a i {
  display: block;
}
.navigation .menu-info-bot li a span {
  font-size: 18px;
}
.navigation .menu-info-bot .qty {
  position: absolute;
  right: 15px;
  top: -3px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #FFF;
  background-color: #D10024;
}

/* nav END */
/* categories */
.no1 {
  width: 100vw;
  border-top: 3px solid #D10024;
  border-bottom: 2px solid #E4E7ED;
  max-width: 100%;
}
.no1 .container .categories {
  display: flex;
  gap: 30px;
  /* li啟用時的style */
}
.no1 .container .categories li:first-child {
  padding: 20px 0 20px 25px;
}
.no1 .container .categories li {
  font-size: 18px;
  padding: 20PX 0;
}
.no1 .container .categories li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #D10024;
  transition: 0.2s all;
}
.no1 .container .categories li a:hover:after {
  width: 100%;
}
.no1 .container .categories .category_active {
  color: #D10024;
  background-color: transparent;
  border-bottom: #D10024 3px solid;
}

/* categories END */
/* from */
.fullpage{
  background-color: antiquewhite;
}
/* from end */


